<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.2/bootstrap3-typeahead.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body class="bg-gray-300">

    {% include 'navbar.html' %}

    <div class="h-screen  w-full bg-cover bg-40 ">
        <div class="flex flex-col items-center">
          <h1 class="text-5xl bg-green-400 px-4 py-4 rounded-sm font-serif shadow-2xl  m-4">Congralations </h1>
          <h3 class="text-2xl text-black font-semibold m-4">Download Your Ticket for Journey</h1>
            <p class="font-sans">/{{pdfname}}/</p>
            <a href="{{pdfname}}" target="_blank" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 mb-3 rounded focus:outline-none focus:shadow-outline" download>Download</a>
            <a href="/" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">Back to Home</a>
        </div>
      </div>
      <script>
           // nav bar feature 
         // Toggle dropdown menu for flights button
      function toggleDropdown() {
        document.getElementById("dropdown").classList.toggle("hidden");
      }
      
      // Toggle dropdown menu for avatar
      function toggleAvatarDropdown() {
        document.getElementById("avatar-dropdown").classList.toggle("hidden");
      }
    //   // submit manage airline
    //     const form = document.querySelector('#airline_login');
    //     const submitBtn = document.querySelector('#airline_submit');

    //     submitBtn.addEventListener('click', (event) => {
    //     event.preventDefault(); 
    //     const input_airline_id = document.getElementById("airline_id").value;
    //     const input_airline_password = document.getElementById("airline_password");
    //     const action = `/manageflight/${input_airline_id}/`;
    //     form.action = action;
    //     form.submit(); // submit the form with the new action
    // });
      </script>
  </body>
</html>
