<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css" />
</head>
<body class="flex justify-center items-center h-screen ">
    <form class="bg-gray-200  px-28 py-7" action="/fetchflights">
        <label class="block text-gray-700 font-medium mb-2" for="arrive">
          Arrive
        </label>
        <input class="bg-white rounded-lg p-2 w-full" type="text" id="arrive" name="arrive">
      
        <label class="block text-gray-700 font-medium mb-2 mt-4" for="depart">
          Depart
        </label>
        <input class="bg-white rounded-lg p-2 w-full" type="text" id="depart" name="depart">
      
        <label class="block text-gray-700 font-medium mb-2 mt-4" for="depart_date">
          Depart Date
        </label>
        <input class="bg-white rounded-lg p-2 w-full" type="text" id="depart_date" name="depart_date">
      
        <label class="block text-gray-700 font-medium mb-2 mt-4" for="passenger_number">
          Passenger Number
        </label>
        <input class="bg-white rounded-lg p-2 w-full" type="text" id="passenger_number" name="passenger_number">
      
        <button class="bg-indigo-500 hover:bg-indigo-600 text-white font-medium py-2 rounded-full mt-6 px-4 py-2 " type="submit">
          Submit
        </button>
      </form>
</body>
</html>